Repository dku-ug/dku-ug.github.io, pull requests merged in 2023-08, with the labels that each got.

#8 Create css file and update render.py
  output/styles.css
  render.py
Labels: Rendering

#9 update, can be no pub now
  docs/people/yl768/index.md
  docs/people/yl768/pin.md
  docs/people/yl768/projects.md
  docs/people/yl768/publications.md
  output/all_people.html
  output/index.html
  output/people/yl768/index.html
  render.py
Labels: Rendering, People

#12 create xingyu shen
  docs/people/xs90/assets/img/profile.png
  docs/people/xs90/custom/custom.css
  docs/people/xs90/custom/custom.js
  docs/people/xs90/index.md
  docs/people/xs90/pin.md
  docs/people/xs90/projects.md
  docs/people/xs90/publications.md
Labels: People
